# Import data dan Konsep Deep/Shallow Copy

In [ ]:
#import lib, set pandas display

#import pandas
import pandas as pd

# set display format float
pd.options.display.float_format = "{:,.2f}".format

#load dataset csv
url="""
https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/sales_data_latihan.csv"""
dfCsv=pd.read_csv(url)
#dfCsv.info()
dfCsv
# dfCsv[2:11]

In [ ]:
#load dataset csv mentah

filepath="https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/Data_Sales_Latihan.csv"
# dfCsv = pd.read_csv(filepath, index_col=0, quotechar='"', delimiter=',')
dfCsv = pd.read_csv(filepath)
dfCsv.info()
dfCsv
# dfCsv[2:11]

In [ ]:
#Pahami struktur data terlebih dahulu
import requests

url = "https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/Data_Sales_Latihan.csv"
response = requests.get(url)
raw_data = response.text.splitlines()

# Cetak 5 baris pertama untuk inspeksi:
for i, line in enumerate(raw_data[:5]):
    print(f"Line {i+1}: {line}")

In [ ]:
#Data teridentifikasi memiliki karakter "" di awal dan ujungnya, sehingga perlu step extra
import pandas as pd
import io
import requests

url = "https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/Data_Sales_Latihan.csv"
response = requests.get(url)
raw_data = response.text.splitlines()

# Pembersihan data
cleaned_lines = [line[1:-1].replace('""', '"') for line in raw_data]

# Gabungkan kembali data yang telah dibersihkan
cleaned_data = "\n".join(cleaned_lines)

# Baca dengan pandas
df = pd.read_csv(io.StringIO(cleaned_data))
# print(df)
df

In [ ]:
#copy DataFrame secara Deep Copy, sehingga masing-masing independen

dfCopy=df.copy(deep=True) #deep copy
# dfShallowCopy=dfExcel #shallow copy
dfCopy

In [ ]:
#load dataset tsv

filepath="C:\\Users\\wishn\\Data Preparation\\day1\\clean_sales.tsv"
dfTsv=pd.read_csv(filepath,sep="\t",index_col=0)
dfTsv

In [ ]:
#load dataset html

#pip install lxml
filepath="C:\\Users\\wishn\\Data Preparation\\day1\\clean_sales.html"
dfHtml=pd.read_html(filepath, index_col=0)[0]
dfHtml

In [ ]:
#load dataset Excel

filepath="C:\\Users\\wishn\\Data Preparation\\day1\\clean_sales.xlsx"
dfExcel=pd.read_excel(filepath, index_col=0)
dfExcel

In [ ]:
#get the DataFrame information
dfCopy.info()

In [ ]:
#df Shallow Copy merujuk pada memory yang sama, sehingga dependen terhadap DataFrame asalnya
dfShallowCopy=df

In [ ]:
#menyimpan data
dfCsv.to_csv("d:\\data_sales_raw.csv",sep=",")

# Data Cleansing, Penanganan Outliers dan Missing Value

In [ ]:
#import lib, set pandas display

#import pandas
import pandas as pd

# set display format float
pd.options.display.float_format = "{:,.2f}".format

#load dataset csv
url="""
https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/sales_data_latihan.csv"""
dfCsv=pd.read_csv(url,dtype={"Customer Number":"str","Customer Name":"str"})
dfCsv.info()

In [ ]:
dfCsv

In [ ]:
#copy DataFrame secara Deep Copy, sehingga masing-masing independen

dfCopy=dfCsv.copy(deep=True) #deep copy
dfCopy

In [ ]:
#Menambahkan kolom tambahan terkait status modal
statusLNDN=[]
for data in dfCopy["Type"]:
    if(data=="Company"):
        statusLNDN.append("LN")
    else:
        statusLNDN.append("DN")

dfCopy["Status LN/DN"]=statusLNDN
dfCopy

In [ ]:
# set display format float
pd.options.display.float_format = "{:,.2f}".format

#mengubah nama kolom DataFrame
dfCopy=dfCopy.rename(columns={
    "Customer Number":"no_pelanggan",
    "Customer Name":"nama_pelanggan",
    "Address":"alamat",
    "Type":"jenis_pelanggan",
    "Sales":"penjualan",
    "Percent Growth":"pertumbuhan",
    "Status LN/DN":"status_modal"
})
dfCopy

In [ ]:
dfCopy.info()

In [ ]:
#mengubah no pelanggan menjadi string
dfCopy=dfCopy.astype({"no_pelanggan":str})
dfCopy

In [ ]:
dfCopy.info()

In [ ]:
# cek value inik di setiap kolom
# perhatikan pada kolom Type, value Perusahaan muncul 2 kali karena ada spasi ekstra di belakang
dfClean=dfCopy.copy(deep=True)
dfClean=dfClean.astype({"jenis_pelanggan":"str"})
for column in dfClean.columns:
    print(dfClean[column].sort_values().unique())

In [ ]:
#semua huruf diubah menjadi huruf kecil
for column in dfClean:
    dfClean[column]=dfClean[column].str.lower()
print(dfClean)

In [ ]:
#membuang semua spasi di awal dan akhir kalimat
for column in dfClean:
    dfClean[column]=dfClean[column].str.strip()
dfClean

In [ ]:
dfClean=dfClean.astype({"jenis_pelanggan":"str"})
for column in dfClean.columns:
    print(dfClean[column].sort_values().unique())

In [ ]:
dfClean["penjualan"]=dfClean["penjualan"].str.replace("rp","")
dfClean["penjualan"]=dfClean["penjualan"].str.replace(",","")
dfClean["penjualan"]=dfClean["penjualan"].astype({"penjualan":"float"})
dfClean

In [ ]:
# memperbaiki tipe data
dfClean["pertumbuhan"]=dfClean["pertumbuhan"].str.replace("%","")
dfClean["pertumbuhan"]=dfClean["pertumbuhan"].astype("float")
dfClean

In [ ]:
# mengisi Null dengan angka 0
dfCleanFillNaWith0=dfClean.copy(deep=True)
dfCleanFillNaWith0=dfCleanFillNaWith0.fillna(0)
dfCleanFillNaWith0

In [ ]:
# mengisi Null dengan rata-rata
dfCleanFillNaWithMean=dfClean.copy(deep=True)
dfCleanFillNaWithMean.pertumbuhan=dfCleanFillNaWithMean.pertumbuhan.fillna(dfCleanFillNaWithMean.pertumbuhan.mean())
dfCleanFillNaWithMean

In [ ]:
# mengisi Null dengan median
dfCleanFillNaWithMedian=dfClean.copy(deep=True)
dfCleanFillNaWithMedian.pertumbuhan=dfCleanFillNaWithMedian.pertumbuhan.fillna(dfCleanFillNaWithMedian.pertumbuhan.median())
dfCleanFillNaWithMedian

In [ ]:
#memilih 0 untuk mengisi Null
dfClean=dfClean.fillna(0)
dfClean

In [ ]:
dfClean["pertumbuhan"]=dfClean["pertumbuhan"].apply(lambda dataPercentGrowth:dataPercentGrowth/100)
dfClean

In [ ]:
#df Deep Copy terpisah dengan sumbernya, sehingga independen dari DataFrame asalnya
del(dfCopy["status_modal"])
dfClean

In [ ]:
#cara list comprehension
dfClean["status_modal"]=["ln" if data=="company" else "dn" for data in dfClean["jenis_pelanggan"]]
dfClean

In [ ]:
#konsistensi jenis_pelanggan
dfClean["jenis_pelanggan"]=dfClean["jenis_pelanggan"].str.replace("company","perusahaan")
dfClean["jenis_pelanggan"]=dfClean["jenis_pelanggan"].str.replace("personal","individu")
dfClean

In [ ]:
# Uji Outliers nilai penjualan dengan Three Sigma
def three_sigma_outlier (dfClean, namaKolomUji, nilaiDiuji):
    if (abs(nilaiDiuji-dfClean[namaKolomUji].mean())>(3*dfClean[namaKolomUji].std())):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierThreeSigma=[]

# for nilaiPenjualan in df["penjualan"]:
#     listUjiOutlierThreeSigma.append(three_sigma_outlier(df,"penjualan",nilaiPenjualan))

# cara list comprehension

listUjiOutlierThreeSigma=[three_sigma_outlier(dfClean,"penjualan",nilaiPenjualan) for nilaiPenjualan in dfClean["penjualan"]]

dfClean["uji_outliers_three_sigma_pada_penjualan"]=listUjiOutlierThreeSigma
dfClean

In [ ]:
# Uji Outliers angka pertumbuhan dengan Three Sigma
def three_sigma_outlier (dfClean, namaKolomUji, nilaiDiuji):
    if (abs(nilaiDiuji-dfClean[namaKolomUji].mean())>(3*dfClean[namaKolomUji].std())):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierThreeSigma=[]

# for angkaPertumbuhan in df["pertumbuhan"]:
#     listUjiOutlierThreeSigma.append(three_sigma_outlier(df,"pertumbuhan",angkaPertumbuhan))

# cara list comprehension

listUjiOutlierThreeSigma=[three_sigma_outlier(dfClean,"pertumbuhan",angkaPertumbuhan) for angkaPertumbuhan in dfClean["pertumbuhan"]]

dfClean["uji_outliers_three_sigma_pada_pertumbuhan"]=listUjiOutlierThreeSigma
dfClean

In [ ]:
# Uji Outliers nilai penjualan dengan Hampel Identifier
def hampel_outlier (dfClean, namaKolomUji, nilaiDiuji):
    median=dfClean[namaKolomUji].quantile(0.5)
    limitMadm=1.4862*median
    if (abs(nilaiDiuji)>(3*limitMadm)):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierHampel=[]

# for nilaiPenjualan in df["penjualan"]:
#     listUjiOutlierHampel.append(hampel_outlier(df,"penjualan",nilaiPenjualan))

# cara list comprehension

listUjiOutlierHampel=[hampel_outlier(dfClean,"penjualan",nilaiPenjualan) for nilaiPenjualan in dfClean["penjualan"]]

dfClean["uji_outliers_hampel_pada_penjualan"]=listUjiOutlierHampel
dfClean

In [ ]:
# Uji Outliers nilai pertumbuhan dengan Hampel Identifier
def hampel_outlier (dfClean, namaKolomUji, nilaiDiuji):
    median=dfClean[namaKolomUji].quantile(0.5)
    limitMadm=1.4862*median
    if (abs(nilaiDiuji)>(3*limitMadm)):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierHampel=[]

# for angkaPertumbuhan in df["pertumbuhan"]:
#     listUjiOutlierHampel.append(hampel_outlier(df,"pertumbuhan",angkaPertumbuhan))

# cara list comprehension

listUjiOutlierHampel=[hampel_outlier(dfClean,"pertumbuhan",angkaPertumbuhan) for angkaPertumbuhan in dfClean["pertumbuhan"]]

dfClean["uji_outliers_hampel_pada_pertumbuhan"]=listUjiOutlierHampel
dfClean

In [ ]:
# Uji Outliers nilai penjualan dengan Box Plot
def box_plot_outlier (dfClean, namaKolomUji, nilaiDiuji):
    quartileBawah=dfClean[namaKolomUji].quantile(0.25)
    quartileAtas=dfClean[namaKolomUji].quantile(0.75)
    jangkauanInterQuartile=quartileAtas-quartileBawah
    if nilaiDiuji>((1.5*jangkauanInterQuartile)+quartileAtas) or nilaiDiuji<(quartileBawah-(1.5*jangkauanInterQuartile)):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierBoxPlot=[]

# for nilaiPenjualan in df["penjualan"]:
#     listUjiOutlierBoxPlot.append(box_plot_outlier(df,"penjualan",nilaiPenjualan))

# cara list comprehension

listUjiOutlierBoxPlot=[box_plot_outlier(dfClean,"penjualan",nilaiPenjualan) for nilaiPenjualan in dfClean["penjualan"]]

dfClean["uji_outliers_box_plot_pada_penjualan"]=listUjiOutlierBoxPlot
dfClean

In [ ]:
# Uji Outliers nilai pertumbuhan dengan Box Plot
def box_plot_outlier (dfClean, namaKolomUji, nilaiDiuji):
    quartileBawah=dfClean[namaKolomUji].quantile(0.25)
    quartileAtas=dfClean[namaKolomUji].quantile(0.75)
    jangkauanInterQuartile=quartileAtas-quartileBawah
    if nilaiDiuji>((1.5*jangkauanInterQuartile)+quartileAtas) or nilaiDiuji<(quartileBawah-(1.5*jangkauanInterQuartile)):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierBoxPlot=[]

# for angkaPertumbuhan in df["pertumbuhan"]:
#     listUjiOutlierBoxPlot.append(box_plot_outlier(df,"pertumbuhan",angkaPertumbuhan))

# cara list comprehension

listUjiOutlierBoxPlot=[box_plot_outlier(dfClean,"pertumbuhan",angkaPertumbuhan) for angkaPertumbuhan in dfClean["pertumbuhan"]]

dfClean["uji_outliers_box_plot_pada_pertumbuhan"]=listUjiOutlierBoxPlot
dfClean

In [ ]:
#menyimpan data
dfClean.to_csv("d:\\df_sales_clean.csv",sep=",")

# Reshape, Transformasi, Encoding Data dan Feature Extraction

In [25]:
#import lib, set pandas display

#import pandas
import pandas as pd

# set display format float
pd.options.display.float_format = "{:,.2f}".format

#import data frame clean yang sudah disimpan
dfClean=pd.read_csv("d:\\df_sales_clean.csv",sep=",",index_col=0,dtype={"no_pelanggan":"str"})
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,uji_outliers_hampel_pada_pertumbuhan,uji_outliers_box_plot_pada_penjualan,uji_outliers_box_plot_pada_pertumbuhan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,Bukan Outlier,Outlier,Bukan Outlier
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier

In [26]:
dfIndexCustomer=dfClean.set_index(["nama_pelanggan"])
dfTransposed=dfIndexCustomer.T
dfTransposed

nama_pelanggan,quest industry,smith plumbing,acme industrial,brekke ltd,harbor co,berkah jaya,rafee ahmad,reza pratama,pt berdikari,alexander samiun
no_pelanggan,100025,552278,234775,249000,651029,565600,897440,123156,138135,748952
alamat,"kebayoran lama, jakarta","pasteur, bandung","kebayoran lama, jakarta","pasteur, bandung","cilincing, jakarta","antapani, bandung","sawangan, depok","kebayoran baru, jakarta","kebayoran lama, jakarta","sleman, jogjakarta"
jenis_pelanggan,perusahaan,perusahaan,perusahaan,perusahaan,perusahaan,perusahaan,individu,individu,perusahaan,individu
penjualan,"162,500,000.00","101,200,000.00","62,500,000.00","4,900,000.00","12,750,000.00","762,500,000.00","12,200,000.00","50,000,000.00","9,000,000.00","127,450,000.00"
pertumbuhan,0.30,0.10,0.00,0.04,-0.15,0.30,0.10,0.25,0.04,-0.15
status_modal,ln,ln,dn,ln,ln,dn,dn,dn,dn,dn
uji_outliers_three_sigma_pada_penjualan,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
uji_outliers_three_sigma_pada_pertumbuhan,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
uji_outliers_hampel_pada_penjualan,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
uji_outliers_hampel_pada_pertumbuhan,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
uji_outliers_box_plot_pada_penjualan,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
uji_outliers_box_plot_pada_pertumbuhan,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier

In [27]:
#pivot DataFrame
dfPivot=dfClean.pivot(index=["nama_pelanggan"],columns=["jenis_pelanggan"],values=["penjualan","pertumbuhan"])
dfPivot

# # Contoh DataFrame Anda
# import pandas as pd

# data = {
#     'nama_pelanggan': ['A', 'A', 'B', 'B'],
#     'jenis_pelanggan': ['Tipe1', 'Tipe2', 'Tipe1', 'Tipe2'],
#     'penjualan': [100, 150, 200, 250],
#     'pertumbuhan': [0.1, 0.2, 0.15, 0.25]
# }
# dfCopy = pd.DataFrame(data)

# # Pivot tabel
# dfPivot = dfCopy.pivot(index="nama_pelanggan", columns="jenis_pelanggan", values=["penjualan", "pertumbuhan"])

# # Mengganti nama kolom setelah operasi pivot
# dfPivot = dfPivot.rename(columns={
#     'penjualan': 'avg_penjualan',
#     'pertumbuhan': 'avg_pertumbuhan'
# })

# dfPivot
dfPivot

                      penjualan                pertumbuhan
jenis_pelanggan        individu     perusahaan    individu perusahaan
nama_pelanggan
acme industrial             NaN  62,500,000.00         NaN       0.00
alexander samiun 127,450,000.00            NaN       -0.15        NaN
berkah jaya                 NaN 762,500,000.00         NaN       0.30
brekke ltd                  NaN   4,900,000.00         NaN       0.04
harbor co                   NaN  12,750,000.00         NaN      -0.15
pt berdikari                NaN   9,000,000.00         NaN       0.04
quest industry              NaN 162,500,000.00         NaN       0.30
rafee ahmad       12,200,000.00            NaN        0.10        NaN
reza pratama      50,000,000.00            NaN        0.25        NaN
smith plumbing              NaN 101,200,000.00         NaN       0.10

In [28]:
dfPivot = dfPivot.rename_axis(index={'nama_pelanggan': 'daftar_pelanggan'}, 
                              columns={'jenis_pelanggan': 'tipe_pelanggan'})
dfPivot

                      penjualan                pertumbuhan
tipe_pelanggan         individu     perusahaan    individu perusahaan
daftar_pelanggan
acme industrial             NaN  62,500,000.00         NaN       0.00
alexander samiun 127,450,000.00            NaN       -0.15        NaN
berkah jaya                 NaN 762,500,000.00         NaN       0.30
brekke ltd                  NaN   4,900,000.00         NaN       0.04
harbor co                   NaN  12,750,000.00         NaN      -0.15
pt berdikari                NaN   9,000,000.00         NaN       0.04
quest industry              NaN 162,500,000.00         NaN       0.30
rafee ahmad       12,200,000.00            NaN        0.10        NaN
reza pratama      50,000,000.00            NaN        0.25        NaN
smith plumbing              NaN 101,200,000.00         NaN       0.10

In [31]:
#pivot tableDataFrame, default Aggregat Function = Mean
import numpy as np
#dfPivotTable=dfClean.pivot_table(index=["status_modal"],columns=["jenis_pelanggan"],values=["penjualan","pertumbuhan"],aggfunc={"penjualan":np.sum,"pertumbuhan":np.mean})
dfPivotTable=dfClean.pivot_table(index=["status_modal","alamat"],columns=["jenis_pelanggan"],values=["penjualan","pertumbuhan"],aggfunc={"penjualan":np.sum,"pertumbuhan":np.mean})
# dfPivotTable=dfClean.pivot_table(index=["alamat"],columns=["status_modal","jenis_pelanggan"],values=["no_pelanggan", "penjualan","pertumbuhan"],aggfunc={"no_pelanggan":np.count_nonzero,"penjualan":np.sum,"pertumbuhan":np.mean},fill_value=0)
dfPivotTable

                                          penjualan                 \
jenis_pelanggan                            individu     perusahaan
status_modal alamat
dn           antapani, bandung                  NaN 762,500,000.00
             kebayoran baru, jakarta  50,000,000.00            NaN
             kebayoran lama, jakarta            NaN  71,500,000.00
             sawangan, depok          12,200,000.00            NaN
             sleman, jogjakarta      127,450,000.00            NaN
ln           cilincing, jakarta                 NaN  12,750,000.00
             kebayoran lama, jakarta            NaN 162,500,000.00
             pasteur, bandung                   NaN 106,100,000.00

                                     pertumbuhan
jenis_pelanggan                         individu perusahaan
status_modal alamat
dn           antapani, bandung               NaN       0.30
             kebayoran baru, jakarta        0.25        NaN
             kebayoran lama, jakarta         NaN       0.02
             sawangan, depok                0.10        NaN
             sleman, jogjakarta            -0.15        NaN
ln           cilincing, jakarta              NaN      -0.15
             kebayoran lama, jakarta         NaN       0.30
             pasteur, bandung                NaN       0.07

In [32]:
#lihat statistik dari setiap field yang mengandung value
dfClean.describe()

           penjualan  pertumbuhan
count          10.00        10.00
mean  130,500,000.00         0.08
std   228,720,500.22         0.16
min     4,900,000.00        -0.15
25%    12,337,500.00         0.01
50%    56,250,000.00         0.07
75%   120,887,500.00         0.21
max   762,500,000.00         0.30

In [33]:
#membuat kategori penjualan berdasarkan statistik (Binning)

# cara for..loop
# listKategoriPenjualan = []
# for nilaiPenjualan in df["penjualan"]:
#     if nilaiPenjualan < df.penjualan.quantile(.25):
#         listKategoriPenjualan.append("rendah")
#     elif nilaiPenjualan > df.penjualan.quantile(.75):
#         listKategoriPenjualan.append("tinggi")
#     else:
#         listKategoriPenjualan.append("sedang")
# df["kategori_penjualan"]=listKategoriPenjualan

# cara List Comprehension
listKategoriPenjualan=["rendah" if nilaiPenjualan < dfClean.penjualan.quantile(.25) else ( "tinggi" if nilaiPenjualan > dfClean.penjualan.quantile(.75) else "sedang" ) for nilaiPenjualan in dfClean["penjualan"]]
dfClean["kategori_penjualan"]=listKategoriPenjualan


dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,uji_outliers_hampel_pada_pertumbuhan,uji_outliers_box_plot_pada_penjualan,uji_outliers_box_plot_pada_pertumbuhan,kategori_penjualan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,tinggi
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,rendah
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,Bukan Outlier,Outlier,Bukan Outlier,tinggi
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,rendah
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,rendah
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,tinggi

In [34]:
#membuat kategori pertumbuhan berdasarkan statistik (Binning)

# cara for..loop
# listKategoriPertumbuhan = []
# for angkaPertumbuhan in df["pertumbuhan"]:
#     if angkaPertumbuhan < df.pertumbuhan.quantile(.25):
#         listKategoriPertumbuhan.append("rendah")
#     elif angkaPertumbuhan > df.pertumbuhan.quantile(.75):
#         listKategoriPertumbuhan.append("tinggi")
#     else:
#         listKategoriPertumbuhan.append("sedang")
# df["kategori_pertumbuhan"]=listKategoriPertumbuhan

# cara List Comprehension
listKategoriPertumbuhan=["rendah" if angkaPertumbuhan < dfClean.pertumbuhan.quantile(.25) else ( "tinggi" if angkaPertumbuhan > dfClean.pertumbuhan.quantile(.75) else "sedang" ) for angkaPertumbuhan in dfClean["pertumbuhan"]]
dfClean["kategori_pertumbuhan"]=listKategoriPertumbuhan


dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,uji_outliers_hampel_pada_pertumbuhan,uji_outliers_box_plot_pada_penjualan,uji_outliers_box_plot_pada_pertumbuhan,kategori_penjualan,kategori_pertumbuhan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,tinggi,tinggi
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang,sedang
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang,rendah
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,rendah,sedang
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang,rendah
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,Bukan Outlier,Outlier,Bukan Outlier,tinggi,tinggi
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,rendah,sedang
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang,tinggi
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,rendah,sedang
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,tinggi,rendah

In [35]:
#membuat kelas penjualan berdasarkan batasan nilai penjualan (Binning)

# cara for..loop
# listKelasPenjualan = []
# for nilaiPenjualan in df["penjualan"]:
#     if nilaiPenjualan < 100000000:
#         listKelasPenjualan.append("< 100 juta")
#     elif nilaiPenjualan > 500000000:
#         listKelasPenjualan.append("> 500 juta")
#     else:
#         listKelasPenjualan.append("100 - 500 juta")
# df["kelas_penjualan"]=listKelasPenjualan

# cara List Comprehension
listKelasPenjualan=["< 100 juta" if nilaiPenjualan < 100000000 else ( "> 500 juta" if nilaiPenjualan > 500000000 else "100 - 500 juta" ) for nilaiPenjualan in dfClean["penjualan"]]
dfClean["kelas_penjualan"]=listKelasPenjualan


dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,uji_outliers_hampel_pada_pertumbuhan,uji_outliers_box_plot_pada_penjualan,uji_outliers_box_plot_pada_pertumbuhan,kategori_penjualan,kategori_pertumbuhan,kelas_penjualan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,tinggi,tinggi,100 - 500 juta
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang,sedang,100 - 500 juta
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang,rendah,< 100 juta
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,rendah,sedang,< 100 juta
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang,rendah,< 100 juta
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,Bukan Outlier,Outlier,Bukan Outlier,tinggi,tinggi,> 500 juta
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,rendah,sedang,< 100 juta
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,sedang,tinggi,< 100 juta
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,rendah,sedang,< 100 juta
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,tinggi,rendah,100 - 500 juta

In [40]:
#ekstrak kecamatan dan kota dari alamat

listKecamatan=[]
listKota=[]

for alamat in dfClean["alamat"]:
    alamatArray=str(alamat).split(",")
    kecamatan=str(alamatArray[0]).strip()
    kota=str(alamatArray[1]).strip()
    listKecamatan.append(kecamatan)
    listKota.append(kota)

dfClean["kecamatan"]=listKecamatan
dfClean["kota"]=listKota
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,...,kategori_penjualan,kategori_pertumbuhan,kelas_penjualan,kecamatan,kota,kategori_penjualan_enc,kategori_pertumbuhan_enc,kelas_penjualan_enc,jenis_pelanggan_enc,status_modal_enc
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,tinggi,tinggi,100 - 500 juta,kebayoran lama,jakarta,2,2,1,1,1
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,sedang,sedang,100 - 500 juta,pasteur,bandung,1,1,1,1,1
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,sedang,rendah,< 100 juta,kebayoran lama,jakarta,1,0,0,1,0
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,rendah,sedang,< 100 juta,pasteur,bandung,0,1,0,1,1
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,sedang,rendah,< 100 juta,cilincing,jakarta,1,0,0,1,1
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,...,tinggi,tinggi,> 500 juta,antapani,bandung,2,2,2,1,0
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,rendah,sedang,< 100 juta,sawangan,depok,0,1,0,0,0
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,sedang,tinggi,< 100 juta,kebayoran baru,jakarta,1,2,0,0,0
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,rendah,sedang,< 100 juta,kebayoran lama,jakarta,0,1,0,1,0
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,tinggi,rendah,100 - 500 juta,sleman,jogjakarta,2,0,1,0,0

In [41]:
#membuat label untuk kategori yang memiliki nilai

labelKategori={"tinggi":2,"sedang":1,"rendah":0}
dfClean["kategori_penjualan_enc"]=dfClean["kategori_penjualan"].map(labelKategori)
dfClean["kategori_pertumbuhan_enc"]=dfClean["kategori_pertumbuhan"].map(labelKategori)
labelKelas={"> 500 juta":2,"100 - 500 juta":1,"< 100 juta":0}
dfClean["kelas_penjualan_enc"]=dfClean["kelas_penjualan"].map(labelKelas)
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,...,kategori_penjualan,kategori_pertumbuhan,kelas_penjualan,kecamatan,kota,kategori_penjualan_enc,kategori_pertumbuhan_enc,kelas_penjualan_enc,jenis_pelanggan_enc,status_modal_enc
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,tinggi,tinggi,100 - 500 juta,kebayoran lama,jakarta,2,2,1,1,1
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,sedang,sedang,100 - 500 juta,pasteur,bandung,1,1,1,1,1
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,sedang,rendah,< 100 juta,kebayoran lama,jakarta,1,0,0,1,0
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,rendah,sedang,< 100 juta,pasteur,bandung,0,1,0,1,1
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,sedang,rendah,< 100 juta,cilincing,jakarta,1,0,0,1,1
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,...,tinggi,tinggi,> 500 juta,antapani,bandung,2,2,2,1,0
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,rendah,sedang,< 100 juta,sawangan,depok,0,1,0,0,0
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,sedang,tinggi,< 100 juta,kebayoran baru,jakarta,1,2,0,0,0
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,rendah,sedang,< 100 juta,kebayoran lama,jakarta,0,1,0,1,0
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,tinggi,rendah,100 - 500 juta,sleman,jogjakarta,2,0,1,0,0

In [42]:
#membuat label untuk kategori nama

# load library
from sklearn.preprocessing import LabelEncoder

# inisiasi encoder
le = LabelEncoder()

# fiting dan transform ke model
dfClean["jenis_pelanggan_enc"] = le.fit_transform(dfClean["jenis_pelanggan"])
dfClean["status_modal_enc"] = le.fit_transform(dfClean["status_modal"])
dfClean["kecamatan_enc"] = le.fit_transform(dfClean["kecamatan"])
dfClean["kota_enc"] = le.fit_transform(dfClean["kota"])
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,...,kelas_penjualan,kecamatan,kota,kategori_penjualan_enc,kategori_pertumbuhan_enc,kelas_penjualan_enc,jenis_pelanggan_enc,status_modal_enc,kecamatan_enc,kota_enc
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,100 - 500 juta,kebayoran lama,jakarta,2,2,1,1,1,3,2
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,100 - 500 juta,pasteur,bandung,1,1,1,1,1,4,0
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,< 100 juta,kebayoran lama,jakarta,1,0,0,1,0,3,2
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,< 100 juta,pasteur,bandung,0,1,0,1,1,4,0
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,< 100 juta,cilincing,jakarta,1,0,0,1,1,1,2
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,...,> 500 juta,antapani,bandung,2,2,2,1,0,0,0
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,< 100 juta,sawangan,depok,0,1,0,0,0,5,1
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,< 100 juta,kebayoran baru,jakarta,1,2,0,0,0,2,2
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,< 100 juta,kebayoran lama,jakarta,0,1,0,1,0,3,2
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,100 - 500 juta,sleman,jogjakarta,2,0,1,0,0,6,3

In [43]:
# Implementasi One Hot Encoder untuk kategori nama
# load library
from sklearn.preprocessing import OneHotEncoder

def applyOHC(df,namaKolom):
    # inisiasi encoder
    ohc = OneHotEncoder(handle_unknown='ignore')

    # fit dan transform
    new_features = ohc.fit_transform(dfClean[[namaKolom]])

    # masukan ke dataframe hasilnya
    cols_name= [x for x in dfClean[namaKolom].unique()]
    df_result = pd.DataFrame(new_features.toarray(), columns=cols_name)
    return df_result

dfJenisPelangganOHC=applyOHC(dfClean,"jenis_pelanggan")
dfStatusModalOHC=applyOHC(dfClean,"status_modal")
dfKecamatanOHC=applyOHC(dfClean,"kecamatan")
dfKotaOHC=applyOHC(dfClean,"kota")
dfClean=pd.concat([dfClean,dfJenisPelangganOHC,dfStatusModalOHC,dfKecamatanOHC,dfKotaOHC], axis=1)
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,...,pasteur,cilincing,antapani,sawangan,kebayoran baru,sleman,jakarta,bandung,depok,jogjakarta
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,1.00

In [44]:
dfClean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 40 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   no_pelanggan                               10 non-null     object
 1   nama_pelanggan                             10 non-null     object
 2   alamat                                     10 non-null     object
 3   jenis_pelanggan                            10 non-null     object
 4   penjualan                                  10 non-null     float64
 5   pertumbuhan                                10 non-null     float64
 6   status_modal                               10 non-null     object
 7   uji_outliers_three_sigma_pada_penjualan    10 non-null     object
 8   uji_outliers_three_sigma_pada_pertumbuhan  10 non-null     object
 9   uji_outliers_hampel_pada_penjualan         10 non-null     object
 10  uji_outliers_hampel_pada_pertumbuhan       10 non-null     object
 11  uji_outliers_box_plot_pada_penjualan       10 non-null     object
 12  uji_outliers_box_plot_pada_pertumbuhan     10 non-null     object
 13  kategori_penjualan                         10 non-null     object
 14  kategori_pertumbuhan                       10 non-null     object
 15  kelas_penjualan                            10 non-null     object
 16  kecamatan                                  10 non-null     object
 17  kota                                       10 non-null     object
 18  kategori_penjualan_enc                     10 non-null     int64
 19  kategori_pertumbuhan_enc                   10 non-null     int64
 20  kelas_penjualan_enc                        10 non-null     int64
 21  jenis_pelanggan_enc                        10 non-null     int32
 22  status_modal_enc                           10 non-null     int32
 23  kecamatan_enc                              10 non-null     int32
 24  kota_enc                                   10 non-null     int32
 25  perusahaan                                 10 non-null     float64
 26  individu                                   10 non-null     float64
 27  ln                                         10 non-null     float64
 28  dn                                         10 non-null     float64
 29  kebayoran lama                             10 non-null     float64
 30  pasteur                                    10 non-null     float64
 31  cilincing                                  10 non-null     float64
 32  antapani                                   10 non-null     float64
 33  sawangan                                   10 non-null     float64
 34  kebayoran baru                             10 non-null     float64
 35  sleman                                     10 non-null     float64
 36  jakarta                                    10 non-null     float64
 37  bandung                                    10 non-null     float64
 38  depok                                      10 non-null     float64
 39  jogjakarta                                 10 non-null     float64
dtypes: float64(17), int32(4), int64(3), object(16)
memory usage: 3.0+ KB

In [54]:
# Mengubah tipe data kolom 25-39 menjadi integer
columns=dfClean.iloc[:,25:40].columns
for column in columns:
    dfClean[column]=dfClean[column].astype(int)
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,...,pasteur,cilincing,antapani,sawangan,kebayoran baru,sleman,jakarta,bandung,depok,jogjakarta
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0,0,1,0,0,0,0,0,1,0
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0,0,0,1,0,0,1,0,0,0
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0,0,1,0,0,0,0,0,1,0
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0,0,0,1,0,0,1,0,0,0
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,1,0,0,0,0,0,0,0,1,0
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,...,0,0,0,0,0,0,1,0,0,0
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0,0,0,0,1,0,0,1,0,0
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0,1,0,0,0,0,0,0,1,0
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0,0,1,0,0,0,0,0,1,0
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,...,0,0,0,0,0,1,0,0,0,1

In [55]:
#lihat semuan nama columns

dfClean.columns

Index(['no_pelanggan', 'nama_pelanggan', 'alamat', 'jenis_pelanggan',
       'penjualan', 'pertumbuhan', 'status_modal',
       'uji_outliers_three_sigma_pada_penjualan',
       'uji_outliers_three_sigma_pada_pertumbuhan',
       'uji_outliers_hampel_pada_penjualan',
       'uji_outliers_hampel_pada_pertumbuhan',
       'uji_outliers_box_plot_pada_penjualan',
       'uji_outliers_box_plot_pada_pertumbuhan', 'kategori_penjualan',
       'kategori_pertumbuhan', 'kelas_penjualan', 'kecamatan', 'kota',
       'kategori_penjualan_enc', 'kategori_pertumbuhan_enc',
       'kelas_penjualan_enc', 'jenis_pelanggan_enc', 'status_modal_enc',
       'kecamatan_enc', 'kota_enc', 'perusahaan', 'individu', 'ln', 'dn',
       'kebayoran lama', 'pasteur', 'cilincing', 'antapani', 'sawangan',
       'kebayoran baru', 'sleman', 'jakarta', 'bandung', 'depok',
       'jogjakarta'],
      dtype='object')

In [58]:
#kolom yang akan disimpan

kolomDisimpan = [
    "penjualan",
    "pertumbuhan",
    "kategori_penjualan_enc",
    "kategori_pertumbuhan_enc",
    "kelas_penjualan_enc",
    "perusahaan",
    "individu",
    "ln",
    "dn",
    "kecamatan_enc",
    "kota_enc"
]
dfClean=dfClean[kolomDisimpan]
dfClean

,penjualan,pertumbuhan,kategori_penjualan_enc,kategori_pertumbuhan_enc,kelas_penjualan_enc,perusahaan,individu,ln,dn,kecamatan_enc,kota_enc
0,"162,500,000.00",0.30,2,2,1,0,1,0,1,3,2
1,"101,200,000.00",0.10,1,1,1,0,1,0,1,4,0
2,"62,500,000.00",0.00,1,0,0,0,1,1,0,3,2
3,"4,900,000.00",0.04,0,1,0,0,1,0,1,4,0
4,"12,750,000.00",-0.15,1,0,0,0,1,0,1,1,2
5,"762,500,000.00",0.30,2,2,2,0,1,1,0,0,0
6,"12,200,000.00",0.10,0,1,0,1,0,1,0,5,1
7,"50,000,000.00",0.25,1,2,0,1,0,1,0,2,2
8,"9,000,000.00",0.04,0,1,0,0,1,1,0,3,2
9,"127,450,000.00",-0.15,2,0,1,1,0,1,0,6,3

In [59]:
dfClean.to_csv("d:\\df_sales_clean_for_machine_learning.csv",sep=",")

# Data Latihan 2 (Opsional)

In [ ]:
# load dataset excel

filepath = "https://github.com/kelvingrovebrothers/Data_Preparation/raw/main/Data_Rumah_Wishnu_ed.xlsx"
dfXls = pd.read_excel(filepath, index_col=0)
dfXls.info()
dfXls
# dfXls[2:11]