# Import data dan Konsep Deep/Shallow Copy

In [ ]:
#import lib, set pandas display

#import pandas
import pandas as pd

# set display format float
pd.options.display.float_format = "{:,.2f}".format

#load dataset csv
url="""
https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/sales_data_latihan.csv"""
dfCsv=pd.read_csv(url)
dfCsv.info()
dfCsv
# dfCsv[2:11]

In [ ]:
#load dataset csv mentah

filepath="https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/Data_Sales_Latihan.csv"
# dfCsv = pd.read_csv(filepath, index_col=0, quotechar='"', delimiter=',')
dfCsv = pd.read_csv(filepath)
dfCsv.info()
dfCsv
# dfCsv[2:11]

In [ ]:
#Pahami struktur data terlebih dahulu
import requests

url = "https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/Data_Sales_Latihan.csv"
response = requests.get(url)
raw_data = response.text.splitlines()

# Cetak 5 baris pertama untuk inspeksi:
for i, line in enumerate(raw_data[:5]):
    print(f"Line {i+1}: {line}")

In [1]:
#Data teridentifikasi memiliki karakter "" di awal dan ujungnya, sehingga perlu step extra
import pandas as pd
import io
import requests

url = "https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/Data_Sales_Latihan.csv"
response = requests.get(url)
raw_data = response.text.splitlines()

# Pembersihan data
cleaned_lines = [line[1:-1].replace('""', '"') for line in raw_data]

# Gabungkan kembali data yang telah dibersihkan
cleaned_data = "\n".join(cleaned_lines)

# Baca dengan pandas
df = pd.read_csv(io.StringIO(cleaned_data))
# print(df)
df

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth
0,100025,Quest Industry,"Kebayoran Lama, Jakarta",Company,Rp162500000,30.00%
1,552278,Smith Plumbing,"Pasteur, Bandung",Company,Rp101200000,10.00%
2,234775,ACME Industrial,"Kebayoran Lama, Jakarta",Perusahaan,62500000,NaN
3,249000,Brekke LTD,"Pasteur, Bandung",Company,4900000,4.00%
4,651029,Harbor Co,"Cilincing, Jakarta",Company,Rp12750000,-15.00%
5,565600,Berkah Jaya,"Antapani, Bandung",Perusahaan,Rp762500000,30.00%
6,897440,Rafee Ahmad,"Sawangan, Depok",Personal,"Rp12,200,000.00",10.00%
7,123156,Reza Pratama,"Kebayoran Baru, Jakarta",Personal,50000000,25
8,138135,PT Berdikari,"Kebayoran Lama, Jakarta",Perusahaan,Rp9000000,4.00%
9,748952,Alexander Samiun,"Sleman, Jogjakarta",Individu,127450000,-15.00%

In [5]:
#copy DataFrame secara Deep Copy, sehingga masing-masing independen

dfCopy=df.copy(deep=True) #deep copy
# dfShallowCopy=dfExcel #shallow copy
dfCopy

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth
0,100025,Quest Industry,"Kebayoran Lama, Jakarta",Company,Rp162500000,30.00%
1,552278,Smith Plumbing,"Pasteur, Bandung",Company,Rp101200000,10.00%
2,234775,ACME Industrial,"Kebayoran Lama, Jakarta",Perusahaan,62500000,NaN
3,249000,Brekke LTD,"Pasteur, Bandung",Company,4900000,4.00%
4,651029,Harbor Co,"Cilincing, Jakarta",Company,Rp12750000,-15.00%
5,565600,Berkah Jaya,"Antapani, Bandung",Perusahaan,Rp762500000,30.00%
6,897440,Rafee Ahmad,"Sawangan, Depok",Personal,"Rp12,200,000.00",10.00%
7,123156,Reza Pratama,"Kebayoran Baru, Jakarta",Personal,50000000,25
8,138135,PT Berdikari,"Kebayoran Lama, Jakarta",Perusahaan,Rp9000000,4.00%
9,748952,Alexander Samiun,"Sleman, Jogjakarta",Individu,127450000,-15.00%

In [ ]:
#load dataset tsv

filepath="C:\\Users\\wishn\\Data Preparation\\day1\\clean_sales.tsv"
dfTsv=pd.read_csv(filepath,sep="\t",index_col=0)
dfTsv

In [ ]:
#load dataset html

#pip install lxml
filepath="C:\\Users\\wishn\\Data Preparation\\day1\\clean_sales.html"
dfHtml=pd.read_html(filepath, index_col=0)[0]
dfHtml

In [ ]:
#load dataset Excel

filepath="C:\\Users\\wishn\\Data Preparation\\day1\\clean_sales.xlsx"
dfExcel=pd.read_excel(filepath, index_col=0)
dfExcel

In [ ]:
#get the DataFrame information
dfCopy.info()

In [2]:
#df Shallow Copy merujuk pada memory yang sama, sehingga dependen terhadap DataFrame asalnya
dfShallowCopy=df

In [4]:
#menyimpan data
dfShallowCopy.to_csv("d:\\datasales.csv",sep=",")

# Data Cleansing, Penanganan Outliers dan Missing Value

In [116]:
#import lib, set pandas display

#import pandas
import pandas as pd

# set display format float
pd.options.display.float_format = "{:,.2f}".format

#load dataset csv
url="""
https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/sales_data_latihan.csv"""
dfCsv=pd.read_csv(url)
dfCsv.info()
dfCsv
# dfCsv[2:11]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  10 non-null     int64
 1   Customer Name    10 non-null     object
 2   Address          10 non-null     object
 3   Type             10 non-null     object
 4   Sales            10 non-null     object
 5   Percent Growth   9 non-null      object
dtypes: int64(1), object(5)
memory usage: 608.0+ bytes

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth
0,100025,Quest Industry,"Kebayoran Lama, Jakarta",Company,Rp162500000,30.00%
1,552278,Smith Plumbing,"Pasteur, Bandung",Company,Rp101200000,10.00%
2,234775,ACME Industrial,"Kebayoran Lama, Jakarta",Perusahaan,62500000,NaN
3,249000,Brekke LTD,"Pasteur, Bandung",Company,4900000,4.00%
4,651029,Harbor Co,"Cilincing, Jakarta",Company,Rp12750000,-15.00%
5,565600,Berkah Jaya,"Antapani, Bandung",Perusahaan,Rp762500000,30.00%
6,897440,Rafee Ahmad,"Sawangan, Depok",Personal,"Rp12,200,000.00",10.00%
7,123156,Reza Pratama,"Kebayoran Baru, Jakarta",Personal,50000000,25
8,138135,PT Berdikari,"Kebayoran Lama, Jakarta",Perusahaan,Rp9000000,4.00%
9,748952,Alexander Samiun,"Sleman, Jogjakarta",Individu,127450000,-15.00%

In [117]:
#copy DataFrame secara Deep Copy, sehingga masing-masing independen

dfCopy=df.copy(deep=True) #deep copy
# dfShallowCopy=dfExcel #shallow copy
dfCopy

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth
0,100025,Quest Industry,"Kebayoran Lama, Jakarta",Company,Rp162500000,30.00%
1,552278,Smith Plumbing,"Pasteur, Bandung",Company,Rp101200000,10.00%
2,234775,ACME Industrial,"Kebayoran Lama, Jakarta",Perusahaan,62500000,NaN
3,249000,Brekke LTD,"Pasteur, Bandung",Company,4900000,4.00%
4,651029,Harbor Co,"Cilincing, Jakarta",Company,Rp12750000,-15.00%
5,565600,Berkah Jaya,"Antapani, Bandung",Perusahaan,Rp762500000,30.00%
6,897440,Rafee Ahmad,"Sawangan, Depok",Personal,"Rp12,200,000.00",10.00%
7,123156,Reza Pratama,"Kebayoran Baru, Jakarta",Personal,50000000,25
8,138135,PT Berdikari,"Kebayoran Lama, Jakarta",Perusahaan,Rp9000000,4.00%
9,748952,Alexander Samiun,"Sleman, Jogjakarta",Individu,127450000,-15.00%

In [118]:
#Menambahkan kolom tambahan terkait status modal
statusLNDN=[]
for data in dfCopy["Type"]:
    if(data=="Company"):
        statusLNDN.append("LN")
    else:
        statusLNDN.append("DN")

dfCopy["Status LN/DN"]=statusLNDN
dfCopy

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth,Status LN/DN
0,100025,Quest Industry,"Kebayoran Lama, Jakarta",Company,Rp162500000,30.00%,LN
1,552278,Smith Plumbing,"Pasteur, Bandung",Company,Rp101200000,10.00%,LN
2,234775,ACME Industrial,"Kebayoran Lama, Jakarta",Perusahaan,62500000,NaN,DN
3,249000,Brekke LTD,"Pasteur, Bandung",Company,4900000,4.00%,LN
4,651029,Harbor Co,"Cilincing, Jakarta",Company,Rp12750000,-15.00%,LN
5,565600,Berkah Jaya,"Antapani, Bandung",Perusahaan,Rp762500000,30.00%,DN
6,897440,Rafee Ahmad,"Sawangan, Depok",Personal,"Rp12,200,000.00",10.00%,DN
7,123156,Reza Pratama,"Kebayoran Baru, Jakarta",Personal,50000000,25,DN
8,138135,PT Berdikari,"Kebayoran Lama, Jakarta",Perusahaan,Rp9000000,4.00%,DN
9,748952,Alexander Samiun,"Sleman, Jogjakarta",Individu,127450000,-15.00%,DN

In [119]:
# set display format float
pd.options.display.float_format = "{:,.2f}".format

#mengubah nama kolom DataFrame
dfCopy=dfCopy.rename(columns={
    "Customer Number":"no_pelanggan",
    "Customer Name":"nama_pelanggan",
    "Address":"alamat",
    "Type":"jenis_pelanggan",
    "Sales":"penjualan",
    "Percent Growth":"pertumbuhan",
    "Status LN/DN":"status_modal"
})
dfCopy

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,Quest Industry,"Kebayoran Lama, Jakarta",Company,Rp162500000,30.00%,LN
1,552278,Smith Plumbing,"Pasteur, Bandung",Company,Rp101200000,10.00%,LN
2,234775,ACME Industrial,"Kebayoran Lama, Jakarta",Perusahaan,62500000,NaN,DN
3,249000,Brekke LTD,"Pasteur, Bandung",Company,4900000,4.00%,LN
4,651029,Harbor Co,"Cilincing, Jakarta",Company,Rp12750000,-15.00%,LN
5,565600,Berkah Jaya,"Antapani, Bandung",Perusahaan,Rp762500000,30.00%,DN
6,897440,Rafee Ahmad,"Sawangan, Depok",Personal,"Rp12,200,000.00",10.00%,DN
7,123156,Reza Pratama,"Kebayoran Baru, Jakarta",Personal,50000000,25,DN
8,138135,PT Berdikari,"Kebayoran Lama, Jakarta",Perusahaan,Rp9000000,4.00%,DN
9,748952,Alexander Samiun,"Sleman, Jogjakarta",Individu,127450000,-15.00%,DN

In [120]:
dfCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   no_pelanggan     10 non-null     int64
 1   nama_pelanggan   10 non-null     object
 2   alamat           10 non-null     object
 3   jenis_pelanggan  10 non-null     object
 4   penjualan        10 non-null     object
 5   pertumbuhan      9 non-null      object
 6   status_modal     10 non-null     object
dtypes: int64(1), object(6)
memory usage: 688.0+ bytes

In [121]:
#mengubah no pelanggan menjadi string
dfCopy=dfCopy.astype({"no_pelanggan":str})
dfCopy

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,Quest Industry,"Kebayoran Lama, Jakarta",Company,Rp162500000,30.00%,LN
1,552278,Smith Plumbing,"Pasteur, Bandung",Company,Rp101200000,10.00%,LN
2,234775,ACME Industrial,"Kebayoran Lama, Jakarta",Perusahaan,62500000,NaN,DN
3,249000,Brekke LTD,"Pasteur, Bandung",Company,4900000,4.00%,LN
4,651029,Harbor Co,"Cilincing, Jakarta",Company,Rp12750000,-15.00%,LN
5,565600,Berkah Jaya,"Antapani, Bandung",Perusahaan,Rp762500000,30.00%,DN
6,897440,Rafee Ahmad,"Sawangan, Depok",Personal,"Rp12,200,000.00",10.00%,DN
7,123156,Reza Pratama,"Kebayoran Baru, Jakarta",Personal,50000000,25,DN
8,138135,PT Berdikari,"Kebayoran Lama, Jakarta",Perusahaan,Rp9000000,4.00%,DN
9,748952,Alexander Samiun,"Sleman, Jogjakarta",Individu,127450000,-15.00%,DN

In [122]:
dfCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   no_pelanggan     10 non-null     object
 1   nama_pelanggan   10 non-null     object
 2   alamat           10 non-null     object
 3   jenis_pelanggan  10 non-null     object
 4   penjualan        10 non-null     object
 5   pertumbuhan      9 non-null      object
 6   status_modal     10 non-null     object
dtypes: object(7)
memory usage: 688.0+ bytes

In [123]:
# cek value inik di setiap kolom
# perhatikan pada kolom Type, value Perusahaan muncul 2 kali karena ada spasi ekstra di belakang
dfClean=dfCopy.copy(deep=True)
dfClean=dfClean.astype({"jenis_pelanggan":"str"})
for column in dfClean.columns:
    print(dfClean[column].sort_values().unique())

['100025' '123156' '138135' '234775' '249000' '552278' '565600' '651029'
 '748952' '897440']
['ACME Industrial' 'Alexander Samiun' 'Berkah Jaya' 'Brekke LTD'
 'Harbor Co' 'PT Berdikari' 'Quest Industry' 'Rafee Ahmad' 'Reza Pratama'
 'Smith Plumbing']
['Antapani, Bandung' 'Cilincing, Jakarta' 'Kebayoran Baru, Jakarta'
 'Kebayoran Lama, Jakarta' 'Pasteur, Bandung' 'Sawangan, Depok'
 'Sleman, Jogjakarta']
['Company' 'Individu' 'Personal' 'Perusahaan' 'Perusahaan ']
['127450000' '4900000' '50000000' '62500000' 'Rp101200000'
 'Rp12,200,000.00' 'Rp12750000' 'Rp162500000' 'Rp762500000' 'Rp9000000']
['-15.00%' '10.00%' '25' '30.00%' '4.00%' nan]
['DN' 'LN']

In [124]:
#semua huruf diubah menjadi huruf kecil
for column in dfClean:
    dfClean[column]=dfClean[column].str.lower()
print(dfClean)

  no_pelanggan    nama_pelanggan                   alamat jenis_pelanggan  \
0       100025    quest industry  kebayoran lama, jakarta         company
1       552278    smith plumbing         pasteur, bandung         company
2       234775   acme industrial  kebayoran lama, jakarta      perusahaan
3       249000        brekke ltd         pasteur, bandung         company
4       651029         harbor co       cilincing, jakarta         company
5       565600       berkah jaya        antapani, bandung      perusahaan
6       897440       rafee ahmad          sawangan, depok        personal
7       123156      reza pratama  kebayoran baru, jakarta        personal
8       138135      pt berdikari  kebayoran lama, jakarta     perusahaan
9       748952  alexander samiun       sleman, jogjakarta        individu

         penjualan pertumbuhan status_modal
0      rp162500000      30.00%           ln
1      rp101200000      10.00%           ln
2         62500000         NaN           dn
3          4900000       4.00%           ln
4       rp12750000     -15.00%           ln
5      rp762500000      30.00%           dn
6  rp12,200,000.00      10.00%           dn
7         50000000          25           dn
8        rp9000000       4.00%           dn
9        127450000     -15.00%           dn

In [125]:
#membuang semua spasi di awal dan akhir kalimat
for column in dfClean:
    dfClean[column]=dfClean[column].str.strip()
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,rp162500000,30.00%,ln
1,552278,smith plumbing,"pasteur, bandung",company,rp101200000,10.00%,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,62500000,NaN,dn
3,249000,brekke ltd,"pasteur, bandung",company,4900000,4.00%,ln
4,651029,harbor co,"cilincing, jakarta",company,rp12750000,-15.00%,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,rp762500000,30.00%,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"rp12,200,000.00",10.00%,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,50000000,25,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,rp9000000,4.00%,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,127450000,-15.00%,dn

In [126]:
dfClean["penjualan"]=dfClean["penjualan"].str.replace("rp","")
dfClean["penjualan"]=dfClean["penjualan"].str.replace(",","")
dfClean["penjualan"]=dfClean["penjualan"].astype({"penjualan":"float"})
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,"162,500,000.00",30.00%,ln
1,552278,smith plumbing,"pasteur, bandung",company,"101,200,000.00",10.00%,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",NaN,dn
3,249000,brekke ltd,"pasteur, bandung",company,"4,900,000.00",4.00%,ln
4,651029,harbor co,"cilincing, jakarta",company,"12,750,000.00",-15.00%,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",30.00%,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"12,200,000.00",10.00%,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,"50,000,000.00",25,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",4.00%,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-15.00%,dn

In [127]:
# memperbaiki tipe data
dfClean["pertumbuhan"]=dfClean["pertumbuhan"].str.replace("%","")
dfClean["pertumbuhan"]=dfClean["pertumbuhan"].astype("float")
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,"162,500,000.00",30.00,ln
1,552278,smith plumbing,"pasteur, bandung",company,"101,200,000.00",10.00,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",NaN,dn
3,249000,brekke ltd,"pasteur, bandung",company,"4,900,000.00",4.00,ln
4,651029,harbor co,"cilincing, jakarta",company,"12,750,000.00",-15.00,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",30.00,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"12,200,000.00",10.00,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,"50,000,000.00",25.00,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",4.00,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-15.00,dn

In [128]:
# mengisi Null dengan angka 0
dfCleanFillNaWith0=dfClean.copy(deep=True)
dfCleanFillNaWith0=dfCleanFillNaWith0.fillna(0)
dfCleanFillNaWith0

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,"162,500,000.00",30.00,ln
1,552278,smith plumbing,"pasteur, bandung",company,"101,200,000.00",10.00,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn
3,249000,brekke ltd,"pasteur, bandung",company,"4,900,000.00",4.00,ln
4,651029,harbor co,"cilincing, jakarta",company,"12,750,000.00",-15.00,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",30.00,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"12,200,000.00",10.00,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,"50,000,000.00",25.00,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",4.00,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-15.00,dn

In [129]:
# mengisi Null dengan rata-rata
dfCleanFillNaWithMean=dfClean.copy(deep=True)
dfCleanFillNaWithMean.pertumbuhan=dfCleanFillNaWithMean.pertumbuhan.fillna(dfCleanFillNaWithMean.pertumbuhan.mean())
dfCleanFillNaWithMean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,"162,500,000.00",30.00,ln
1,552278,smith plumbing,"pasteur, bandung",company,"101,200,000.00",10.00,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",9.22,dn
3,249000,brekke ltd,"pasteur, bandung",company,"4,900,000.00",4.00,ln
4,651029,harbor co,"cilincing, jakarta",company,"12,750,000.00",-15.00,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",30.00,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"12,200,000.00",10.00,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,"50,000,000.00",25.00,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",4.00,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-15.00,dn

In [130]:
# mengisi Null dengan median
dfCleanFillNaWithMedian=dfClean.copy(deep=True)
dfCleanFillNaWithMedian.pertumbuhan=dfCleanFillNaWithMedian.pertumbuhan.fillna(dfCleanFillNaWithMedian.pertumbuhan.median())
dfCleanFillNaWithMedian

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,"162,500,000.00",30.00,ln
1,552278,smith plumbing,"pasteur, bandung",company,"101,200,000.00",10.00,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",10.00,dn
3,249000,brekke ltd,"pasteur, bandung",company,"4,900,000.00",4.00,ln
4,651029,harbor co,"cilincing, jakarta",company,"12,750,000.00",-15.00,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",30.00,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"12,200,000.00",10.00,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,"50,000,000.00",25.00,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",4.00,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-15.00,dn

In [131]:
#memilih 0 untuk mengisi Null
dfClean=dfClean.fillna(0)
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,"162,500,000.00",30.00,ln
1,552278,smith plumbing,"pasteur, bandung",company,"101,200,000.00",10.00,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn
3,249000,brekke ltd,"pasteur, bandung",company,"4,900,000.00",4.00,ln
4,651029,harbor co,"cilincing, jakarta",company,"12,750,000.00",-15.00,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",30.00,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"12,200,000.00",10.00,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,"50,000,000.00",25.00,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",4.00,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-15.00,dn

In [132]:
dfClean["pertumbuhan"]=dfClean["pertumbuhan"].apply(lambda dataPercentGrowth:dataPercentGrowth/100)
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,"162,500,000.00",0.30,ln
1,552278,smith plumbing,"pasteur, bandung",company,"101,200,000.00",0.10,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn
3,249000,brekke ltd,"pasteur, bandung",company,"4,900,000.00",0.04,ln
4,651029,harbor co,"cilincing, jakarta",company,"12,750,000.00",-0.15,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"12,200,000.00",0.10,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,"50,000,000.00",0.25,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn

In [133]:
#df Deep Copy terpisah dengan sumbernya, sehingga independen dari DataFrame asalnya
del(dfCopy["status_modal"])
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,"162,500,000.00",0.30,ln
1,552278,smith plumbing,"pasteur, bandung",company,"101,200,000.00",0.10,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn
3,249000,brekke ltd,"pasteur, bandung",company,"4,900,000.00",0.04,ln
4,651029,harbor co,"cilincing, jakarta",company,"12,750,000.00",-0.15,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"12,200,000.00",0.10,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,"50,000,000.00",0.25,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn

In [135]:
#cara list comprehension
dfClean["status_modal"]=["ln" if data=="company" else "dn" for data in dfClean["jenis_pelanggan"]]
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",company,"162,500,000.00",0.30,ln
1,552278,smith plumbing,"pasteur, bandung",company,"101,200,000.00",0.10,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn
3,249000,brekke ltd,"pasteur, bandung",company,"4,900,000.00",0.04,ln
4,651029,harbor co,"cilincing, jakarta",company,"12,750,000.00",-0.15,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn
6,897440,rafee ahmad,"sawangan, depok",personal,"12,200,000.00",0.10,dn
7,123156,reza pratama,"kebayoran baru, jakarta",personal,"50,000,000.00",0.25,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn

In [136]:
#konsistensi jenis_pelanggan
dfClean["jenis_pelanggan"]=dfClean["jenis_pelanggan"].str.replace("company","perusahaan")
dfClean["jenis_pelanggan"]=dfClean["jenis_pelanggan"].str.replace("personal","individu")
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn

In [137]:
# Uji Outliers nilai penjualan dengan Three Sigma
def three_sigma_outlier (dfClean, namaKolomUji, nilaiDiuji):
    if (abs(nilaiDiuji-dfClean[namaKolomUji].mean())>(3*dfClean[namaKolomUji].std())):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierThreeSigma=[]

# for nilaiPenjualan in df["penjualan"]:
#     listUjiOutlierThreeSigma.append(three_sigma_outlier(df,"penjualan",nilaiPenjualan))

# cara list comprehension

listUjiOutlierThreeSigma=[three_sigma_outlier(dfClean,"penjualan",nilaiPenjualan) for nilaiPenjualan in dfClean["penjualan"]]

dfClean["uji_outliers_three_sigma_pada_penjualan"]=listUjiOutlierThreeSigma
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier

In [138]:
# Uji Outliers angka pertumbuhan dengan Three Sigma
def three_sigma_outlier (dfClean, namaKolomUji, nilaiDiuji):
    if (abs(nilaiDiuji-dfClean[namaKolomUji].mean())>(3*dfClean[namaKolomUji].std())):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierThreeSigma=[]

# for angkaPertumbuhan in df["pertumbuhan"]:
#     listUjiOutlierThreeSigma.append(three_sigma_outlier(df,"pertumbuhan",angkaPertumbuhan))

# cara list comprehension

listUjiOutlierThreeSigma=[three_sigma_outlier(dfClean,"pertumbuhan",angkaPertumbuhan) for angkaPertumbuhan in dfClean["pertumbuhan"]]

dfClean["uji_outliers_three_sigma_pada_pertumbuhan"]=listUjiOutlierThreeSigma
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier

In [139]:
# Uji Outliers nilai penjualan dengan Hampel Identifier
def hampel_outlier (dfClean, namaKolomUji, nilaiDiuji):
    median=dfClean[namaKolomUji].quantile(0.5)
    limitMadm=1.4862*median
    if (abs(nilaiDiuji)>(3*limitMadm)):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierHampel=[]

# for nilaiPenjualan in df["penjualan"]:
#     listUjiOutlierHampel.append(hampel_outlier(df,"penjualan",nilaiPenjualan))

# cara list comprehension

listUjiOutlierHampel=[hampel_outlier(dfClean,"penjualan",nilaiPenjualan) for nilaiPenjualan in dfClean["penjualan"]]

dfClean["uji_outliers_hampel_pada_penjualan"]=listUjiOutlierHampel
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier

In [140]:
# Uji Outliers nilai pertumbuhan dengan Hampel Identifier
def hampel_outlier (dfClean, namaKolomUji, nilaiDiuji):
    median=dfClean[namaKolomUji].quantile(0.5)
    limitMadm=1.4862*median
    if (abs(nilaiDiuji)>(3*limitMadm)):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierHampel=[]

# for angkaPertumbuhan in df["pertumbuhan"]:
#     listUjiOutlierHampel.append(hampel_outlier(df,"pertumbuhan",angkaPertumbuhan))

# cara list comprehension

listUjiOutlierHampel=[hampel_outlier(dfClean,"pertumbuhan",angkaPertumbuhan) for angkaPertumbuhan in dfClean["pertumbuhan"]]

dfClean["uji_outliers_hampel_pada_pertumbuhan"]=listUjiOutlierHampel
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,uji_outliers_hampel_pada_pertumbuhan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,Bukan Outlier
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier

In [141]:
# Uji Outliers nilai penjualan dengan Box Plot
def box_plot_outlier (dfClean, namaKolomUji, nilaiDiuji):
    quartileBawah=dfClean[namaKolomUji].quantile(0.25)
    quartileAtas=dfClean[namaKolomUji].quantile(0.75)
    jangkauanInterQuartile=quartileAtas-quartileBawah
    if nilaiDiuji>((1.5*jangkauanInterQuartile)+quartileAtas) or nilaiDiuji<(quartileBawah-(1.5*jangkauanInterQuartile)):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierBoxPlot=[]

# for nilaiPenjualan in df["penjualan"]:
#     listUjiOutlierBoxPlot.append(box_plot_outlier(df,"penjualan",nilaiPenjualan))

# cara list comprehension

listUjiOutlierBoxPlot=[box_plot_outlier(dfClean,"penjualan",nilaiPenjualan) for nilaiPenjualan in dfClean["penjualan"]]

dfClean["uji_outliers_box_plot_pada_penjualan"]=listUjiOutlierBoxPlot
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,uji_outliers_hampel_pada_pertumbuhan,uji_outliers_box_plot_pada_penjualan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,Bukan Outlier,Outlier
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier

In [142]:
# Uji Outliers nilai pertumbuhan dengan Box Plot
def box_plot_outlier (dfClean, namaKolomUji, nilaiDiuji):
    quartileBawah=dfClean[namaKolomUji].quantile(0.25)
    quartileAtas=dfClean[namaKolomUji].quantile(0.75)
    jangkauanInterQuartile=quartileAtas-quartileBawah
    if nilaiDiuji>((1.5*jangkauanInterQuartile)+quartileAtas) or nilaiDiuji<(quartileBawah-(1.5*jangkauanInterQuartile)):
        return "Outlier"
    else:
        return "Bukan Outlier"

# cara for..loop
# listUjiOutlierBoxPlot=[]

# for angkaPertumbuhan in df["pertumbuhan"]:
#     listUjiOutlierBoxPlot.append(box_plot_outlier(df,"pertumbuhan",angkaPertumbuhan))

# cara list comprehension

listUjiOutlierBoxPlot=[box_plot_outlier(dfClean,"pertumbuhan",angkaPertumbuhan) for angkaPertumbuhan in dfClean["pertumbuhan"]]

dfClean["uji_outliers_box_plot_pada_pertumbuhan"]=listUjiOutlierBoxPlot
dfClean

,no_pelanggan,nama_pelanggan,alamat,jenis_pelanggan,penjualan,pertumbuhan,status_modal,uji_outliers_three_sigma_pada_penjualan,uji_outliers_three_sigma_pada_pertumbuhan,uji_outliers_hampel_pada_penjualan,uji_outliers_hampel_pada_pertumbuhan,uji_outliers_box_plot_pada_penjualan,uji_outliers_box_plot_pada_pertumbuhan
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,ln,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,dn,Bukan Outlier,Bukan Outlier,Outlier,Bukan Outlier,Outlier,Bukan Outlier
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,dn,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier,Bukan Outlier

In [143]:
#menyimpan data
dfClean.to_csv("d:\\dfClean.csv",sep=",")

# Reshape, Transformasi, Encoding Data dan Feature Extraction

In [ ]:
dfIndexCustomer=dfClean.set_index(["nama_pelanggan"])
dfTransposed=dfIndexCustomer.T
dfTransposed

In [ ]:
#pivot DataFrame
dfPivot=dfClean.pivot(index=["nama_pelanggan"],columns=["jenis_pelanggan"],values=["penjualan","pertumbuhan"])
dfPivot

# # Contoh DataFrame Anda
# import pandas as pd

# data = {
#     'nama_pelanggan': ['A', 'A', 'B', 'B'],
#     'jenis_pelanggan': ['Tipe1', 'Tipe2', 'Tipe1', 'Tipe2'],
#     'penjualan': [100, 150, 200, 250],
#     'pertumbuhan': [0.1, 0.2, 0.15, 0.25]
# }
# dfCopy = pd.DataFrame(data)

# # Pivot tabel
# dfPivot = dfCopy.pivot(index="nama_pelanggan", columns="jenis_pelanggan", values=["penjualan", "pertumbuhan"])

# # Mengganti nama kolom setelah operasi pivot
# dfPivot = dfPivot.rename(columns={
#     'penjualan': 'avg_penjualan',
#     'pertumbuhan': 'avg_pertumbuhan'
# })

# dfPivot
dfPivot

In [ ]:
dfPivot = dfPivot.rename_axis(index={'nama_pelanggan': 'daftar_pelanggan'}, 
                              columns={'jenis_pelanggan': 'tipe_pelanggan'})
dfPivot

In [ ]:
#pivot tableDataFrame, default Aggregat Function = Mean
import numpy as np
dfPivotTable=dfClean.pivot_table(index=["status_modal"],columns=["jenis_pelanggan"],values=["penjualan","pertumbuhan"],aggfunc={"penjualan":np.sum,"pertumbuhan":np.mean})
dfPivotTable=dfClean.pivot_table(index=["status_modal","alamat"],columns=["jenis_pelanggan"],values=["penjualan","pertumbuhan"],aggfunc={"penjualan":np.sum,"pertumbuhan":np.mean})
dfPivotTable=dfClean.pivot_table(index=["alamat"],columns=["status_modal","jenis_pelanggan"],values=["no_pelanggan", "penjualan","pertumbuhan"],aggfunc={"no_pelanggan":np.count_nonzero,"penjualan":np.sum,"pertumbuhan":np.mean},fill_value=0)
dfPivotTable

In [ ]:
#lihat statistik dari setiap field yang mengandung value
dfClean.describe()

In [ ]:
#membuat kategori penjualan berdasarkan statistik (Binning)

# cara for..loop
# listKategoriPenjualan = []
# for nilaiPenjualan in df["penjualan"]:
#     if nilaiPenjualan < df.penjualan.quantile(.25):
#         listKategoriPenjualan.append("rendah")
#     elif nilaiPenjualan > df.penjualan.quantile(.75):
#         listKategoriPenjualan.append("tinggi")
#     else:
#         listKategoriPenjualan.append("sedang")
# df["kategori_penjualan"]=listKategoriPenjualan

# cara List Comprehension
listKategoriPenjualan=["rendah" if nilaiPenjualan < dfClean.penjualan.quantile(.25) else ( "tinggi" if nilaiPenjualan > dfClean.penjualan.quantile(.75) else "sedang" ) for nilaiPenjualan in dfClean["penjualan"]]
dfClean["kategori_penjualan"]=listKategoriPenjualan


dfClean

In [ ]:
#membuat kategori pertumbuhan berdasarkan statistik (Binning)

# cara for..loop
# listKategoriPertumbuhan = []
# for angkaPertumbuhan in df["pertumbuhan"]:
#     if angkaPertumbuhan < df.pertumbuhan.quantile(.25):
#         listKategoriPertumbuhan.append("rendah")
#     elif angkaPertumbuhan > df.pertumbuhan.quantile(.75):
#         listKategoriPertumbuhan.append("tinggi")
#     else:
#         listKategoriPertumbuhan.append("sedang")
# df["kategori_pertumbuhan"]=listKategoriPertumbuhan

# cara List Comprehension
listKategoriPertumbuhan=["rendah" if angkaPertumbuhan < dfClean.pertumbuhan.quantile(.25) else ( "tinggi" if angkaPertumbuhan > dfClean.pertumbuhan.quantile(.75) else "sedang" ) for angkaPertumbuhan in dfClean["pertumbuhan"]]
dfClean["kategori_pertumbuhan"]=listKategoriPertumbuhan


dfClean

In [ ]:
#membuat kelas penjualan berdasarkan batasan nilai penjualan (Binning)

# cara for..loop
# listKelasPenjualan = []
# for nilaiPenjualan in df["penjualan"]:
#     if nilaiPenjualan < 100000000:
#         listKelasPenjualan.append("< 100 juta")
#     elif nilaiPenjualan > 500000000:
#         listKelasPenjualan.append("> 500 juta")
#     else:
#         listKelasPenjualan.append("100 - 500 juta")
# df["kelas_penjualan"]=listKelasPenjualan

# cara List Comprehension
listKelasPenjualan=["< 100 juta" if nilaiPenjualan < 100000000 else ( "> 500 juta" if nilaiPenjualan > 500000000 else "100 - 500 juta" ) for nilaiPenjualan in dfClean["penjualan"]]
dfClean["kelas_penjualan"]=listKelasPenjualan


dfClean

In [ ]:
#ekstrak kecamatan dan kota dari alamat

listKecamatan=[]
listKota=[]

for alamat in dfClean["alamat"]:
    alamatArray=str(alamat).split(",")
    kecamatan=alamatArray[0]
    kota=alamatArray[1]
    listKecamatan.append(kecamatan)
    listKota.append(kota)

dfClean["kecamatan"]=listKecamatan
dfClean["kota"]=listKota
dfClean

In [ ]:
#membuat label untuk kategori yang memiliki nilai

labelKategori={"tinggi":2,"sedang":1,"rendah":0}
dfClean["kategori_penjualan_enc"]=dfClean["kategori_penjualan"].map(labelKategori)
dfClean["kategori_pertumbuhan_enc"]=dfClean["kategori_pertumbuhan"].map(labelKategori)
labelKelas={"> 500 juta":2,"100 - 500 juta":1,"< 100 juta":0}
dfClean["kelas_penjualan_enc"]=dfClean["kelas_penjualan"].map(labelKelas)
dfClean

In [ ]:
#membuat label untuk kategori nama

# load library
from sklearn.preprocessing import LabelEncoder

# inisiasi encoder
le = LabelEncoder()

# fiting dan transform ke model
dfClean["jenis_pelanggan_enc"] = le.fit_transform(dfClean["jenis_pelanggan"])
dfClean["status_modal_enc"] = le.fit_transform(dfClean["status_modal"])
dfClean["kecamatan_enc"] = le.fit_transform(dfClean["kecamatan"])
dfClean["kota_enc"] = le.fit_transform(dfClean["kota"])
dfClean

In [ ]:
# Implementasi One Hot Encoder untuk kategori nama
# load library
from sklearn.preprocessing import OneHotEncoder

def applyOHC(df,namaKolom):
    # inisiasi encoder
    ohc = OneHotEncoder(handle_unknown='ignore')

    # fit dan transform
    new_features = ohc.fit_transform(dfClean[[namaKolom]])

    # masukan ke dataframe hasilnya
    cols_name= [x for x in dfClean[namaKolom].unique()]
    df_result = pd.DataFrame(new_features.toarray(), columns=cols_name)
    return df_result

dfJenisPelangganOHC=applyOHC(dfClean,"jenis_pelanggan")
dfStatusModalOHC=applyOHC(dfClean,"status_modal")
dfKecamatanOHC=applyOHC(dfClean,"kecamatan")
dfKotaOHC=applyOHC(dfClean,"kota")
dfClean=pd.concat([dfClean,dfJenisPelangganOHC,dfStatusModalOHC,dfKecamatanOHC,dfKotaOHC], axis=1)
dfClean

In [ ]:
dfClean.info()

In [ ]:
# Mengubah tipe data kolom 25-39 menjadi integer
dfClean.iloc[:, 25:40] = dfClean.iloc[:, 25:40].astype(int)
dfClean

In [ ]:
#lihat semuan nama columns

df.columns

In [ ]:
#kolom yang akan disimpan

kolomDisimpan = [
    "penjualan",
    "pertumbuhan",
    "kategori_penjualan_enc",
    "kategori_pertumbuhan_enc",
    "kelas_penjualan_enc",
    "perusahaan",
    "individu",
    "LN",
    "DN",
    "kecamatan_enc",
    "kota_enc"
]
df=df[kolomDisimpan]
df

# Data Latihan 2 (Opsional)

In [ ]:
# load dataset excel

filepath = "https://github.com/kelvingrovebrothers/Data_Preparation/raw/main/Data_Rumah_Wishnu_ed.xlsx"
dfXls = pd.read_excel(filepath, index_col=0)
dfXls.info()
dfXls
# dfXls[2:11]