# DAY 01

* List Comprehension Sederhana

In [14]:
listBaru=[]
for x in range(1,101):
    listBaru.append(x)
print(listBaru)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [15]:
listComprehensionBaru=[x for x in range(1,101)]
print(listComprehensionBaru)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

* List Comprehension dengan Operator Matematika

In [16]:
listBaru=[]
for x in range(1,101):
    listBaru.append(x*2)
print(listBaru)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [18]:
listComprehensionBaru=[x*2 for x in range(1,101)]
print(listComprehensionBaru)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

* List Comprehension dengan satu IF Condition

In [19]:
list100=[]
for x in range(1,101):
    list100.append(x)
print(list100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [23]:
listAngkaKelipatan7=[]
for angka in list100:
    if angka%7==0:
        listAngkaKelipatan7.append(angka)
print(listAngkaKelipatan7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [24]:
listAngkaKelipatan7Comprehension=[angka for angka in list100 if angka%7==0]
print(listAngkaKelipatan7Comprehension)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [25]:
listAngka=[1,2,3,6,7,8,10,11,12]
listAngkaKelipatan3Comprehension=[x for x in listAngka if x%3==0]
print(listAngkaKelipatan3Comprehension)

[3, 6, 12]

* List Comprehension dengan IF ELSE Condition

In [26]:
listAngka=[]
for angka in list100:
    if angka%2==0:
        listAngka.append(angka/2)
    else:
        listAngka.append(angka*2)
print(listAngka)

[2, 1.0, 6, 2.0, 10, 3.0, 14, 4.0, 18, 5.0, 22, 6.0, 26, 7.0, 30, 8.0, 34, 9.0, 38, 10.0, 42, 11.0, 46, 12.0, 50, 13.0, 54, 14.0, 58, 15.0, 62, 16.0, 66, 17.0, 70, 18.0, 74, 19.0, 78, 20.0, 82, 21.0, 86, 22.0, 90, 23.0, 94, 24.0, 98, 25.0, 102, 26.0, 106, 27.0, 110, 28.0, 114, 29.0, 118, 30.0, 122, 31.0, 126, 32.0, 130, 33.0, 134, 34.0, 138, 35.0, 142, 36.0, 146, 37.0, 150, 38.0, 154, 39.0, 158, 40.0, 162, 41.0, 166, 42.0, 170, 43.0, 174, 44.0, 178, 45.0, 182, 46.0, 186, 47.0, 190, 48.0, 194, 49.0, 198, 50.0]

In [27]:
listAngkaComprehension=[angka/2 if angka%2==0 else angka*2 for angka in list100]
print(listAngkaComprehension)

[2, 1.0, 6, 2.0, 10, 3.0, 14, 4.0, 18, 5.0, 22, 6.0, 26, 7.0, 30, 8.0, 34, 9.0, 38, 10.0, 42, 11.0, 46, 12.0, 50, 13.0, 54, 14.0, 58, 15.0, 62, 16.0, 66, 17.0, 70, 18.0, 74, 19.0, 78, 20.0, 82, 21.0, 86, 22.0, 90, 23.0, 94, 24.0, 98, 25.0, 102, 26.0, 106, 27.0, 110, 28.0, 114, 29.0, 118, 30.0, 122, 31.0, 126, 32.0, 130, 33.0, 134, 34.0, 138, 35.0, 142, 36.0, 146, 37.0, 150, 38.0, 154, 39.0, 158, 40.0, 162, 41.0, 166, 42.0, 170, 43.0, 174, 44.0, 178, 45.0, 182, 46.0, 186, 47.0, 190, 48.0, 194, 49.0, 198, 50.0]

* List Comprehension dengan IF ELSE Condition Bertingkat

In [28]:
listAngka=[]
for angka in list100:
    if angka<=25:
        listAngka.append(angka*2)
    elif angka>=75:
        listAngka.append(angka*5)
    else:
        listAngka.append(angka*3)
print(listAngka)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500]

In [30]:
listAngkaComprehension=[angka*2 if angka<=25 else (angka*5 if angka>=75 else angka*3) for angka in list100]
print(listAngkaComprehension)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500]

In [1]:
listKota = ["Jakarta", "bandung", "Surabaya", "semarang", "Palembang"]

for kota in listKota:
    if "u" in kota:
        print(kota + " oke")

# jika mengandung huruf u maka tambahkan kata uyeah
# jika mengandung huruf g maka tambahkan kata gasss
# sisanya tambahkan kata oyee

bandung oke
Surabaya oke

In [2]:
listKotaComprehension=[]
for kota in listKota:
    if "u" in kota:
        listKotaComprehension.append(kota + " uyeah")
    elif "g" in kota:
        listKotaComprehension.append(kota + " gass")
    else:
        listKotaComprehension.append(kota + " oyee")
print(listKotaComprehension)

['Jakarta oyee', 'bandung uyeah', 'Surabaya uyeah', 'semarang gass', 'Palembang gass']

In [3]:
listKotaComprehension=[x + ' uyeah' if 'u' in x else x + ' gass' if 'g' in x else x + ' oyee' for x in listKota]
print(listKotaComprehension)

['Jakarta oyee', 'bandung uyeah', 'Surabaya uyeah', 'semarang gass', 'Palembang gass']

In [4]:
listKotaComprehension=[kota + " uyeah" if "u" in kota else (kota + " gass" if "g" in kota else kota + " oyee") for kota in listKota]
print(listKotaComprehension)

['Jakarta oyee', 'bandung uyeah', 'Surabaya uyeah', 'semarang gass', 'Palembang gass']

In [25]:
print(listKotaComprehension)

['Jakarta oyee', 'bandung uyeah', 'Surabaya uyeah', 'semarang gass', 'Palembang gass']

* List Comprehension dengan Nested IF ELSE Condition

In [50]:
listKendaraan=["truk", "bus", "perahu", "motor", "pesawat", "helikopter", "yahct", "sepeda"]

# buatkan for loop untuk membedakan kendaraan darat, laut dan udara
# tambahkan kata "darat: nama_kendaraan", "laut: nama_kendaraan" atau "udara: nama_kendaraan" sesaui dengan jenisnya
# buatkan list comprehensionnya
listKendaraanBaru=[]

for kendaraan in listKendaraan:
    if kendaraan in ["perahu","yahct"]:
        listKendaraanBaru.append("laut: "+kendaraan)
    elif kendaraan in ["pesawat", "helikopter"]:
        if kendaraan == "pesawat":
            listKendaraanBaru.append("udara 1: "+kendaraan)
        else:
            listKendaraanBaru.append("udara 2: "+kendaraan)
    else:
        listKendaraanBaru.append("darat: "+kendaraan)
print("listKendaraanBaru: ",listKendaraanBaru)

listKendaraanBaruComprehension=["laut: "+kendaraan if kendaraan in ["perahu","yahct"] else (("udara 1: "+kendaraan if kendaraan == "pesawat" else "udara 2") if kendaraan in ["pesawat", "helikopter"] else "darat: "+kendaraan) for kendaraan in listKendaraan]
print("listKendaraanBaruComprehension: ",listKendaraanBaruComprehension)

listKendaraanBaru:  ['darat: truk', 'darat: bus', 'laut: perahu', 'darat: motor', 'udara 1: pesawat', 'udara 2: helikopter', 'laut: yahct', 'darat: sepeda']
listKendaraanBaruComprehension:  ['darat: truk', 'darat: bus', 'laut: perahu', 'darat: motor', 'udara 1: pesawat', 'udara 2', 'laut: yahct', 'darat: sepeda']

In [29]:
listKendaraan=["truk", "bus", "perahu", "motor", "pesawat", "helikopter", "yahct", "sepeda"]
print(listKendaraan[0])

truk

In [30]:
print(listKendaraan[4])

pesawat

In [32]:
print(listKendaraan[1:3])

['bus', 'perahu']

In [33]:
print(listKendaraan[3:6])

['motor', 'pesawat', 'helikopter']

In [34]:
listKendaraan=["truk", "bus", "perahu", "motor", "pesawat", "helikopter", "yahct", "sepeda"]
print(listKendaraan[3:])

['motor', 'pesawat', 'helikopter', 'yahct', 'sepeda']

In [35]:
print(listKendaraan[:5])

['truk', 'bus', 'perahu', 'motor', 'pesawat']

In [40]:
print(listKendaraan[1:6:2])

['bus', 'motor', 'helikopter']

In [38]:
print(listKendaraan[::2])

['truk', 'perahu', 'pesawat', 'yahct']

In [44]:
listKendaraanBaruComprehension=['darat: truk', 'darat: bus', 'laut: perahu', 'darat: motor', 'udara: pesawat', 'udara: helikopter', 'laut: yahct', 'darat: sepeda']

In [48]:
jenisKendaraan = sorted(['udara: ' + a if a in ['pesawat', 'helikopter'] else ('laut: ' + a if a in ['yahct', 'perahu'] else 'darat: ' + a ) for a in listKendaraan])
print(jenisKendaraan)
print(sorted(listKendaraanBaruComprehension))

['darat: bus', 'darat: motor', 'darat: sepeda', 'darat: truk', 'laut: perahu', 'laut: yahct', 'udara: helikopter', 'udara: pesawat']
['darat: bus', 'darat: motor', 'darat: sepeda', 'darat: truk', 'laut: perahu', 'laut: yahct', 'udara: helikopter', 'udara: pesawat']

# DAY 02

In [52]:
import pandas as pd

pd.options.display.float_format="{:,.2f}".format
url="https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/sales_data_latihan.csv"
dfCsv=pd.read_csv(url)

In [53]:
dfCsv

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth
0,100025,Quest Industry,"Kebayoran Lama, Jakarta",Company,Rp162500000,30.00%
1,552278,Smith Plumbing,"Pasteur, Bandung",Company,Rp101200000,10.00%
2,234775,ACME Industrial,"Kebayoran Lama, Jakarta",Perusahaan,62500000,NaN
3,249000,Brekke LTD,"Pasteur, Bandung",Company,4900000,4.00%
4,651029,Harbor Co,"Cilincing, Jakarta",Company,Rp12750000,-15.00%
5,565600,Berkah Jaya,"Antapani, Bandung",Perusahaan,Rp762500000,30.00%
6,897440,Rafee Ahmad,"Sawangan, Depok",Personal,"Rp12,200,000.00",10.00%
7,123156,Reza Pratama,"Kebayoran Baru, Jakarta",Personal,50000000,25
8,138135,PT Berdikari,"Kebayoran Lama, Jakarta",Perusahaan,Rp9000000,4.00%
9,748952,Alexander Samiun,"Sleman, Jogjakarta",Individu,127450000,-15.00%

In [57]:
urlExcel="https://github.com/kelvingrovebrothers/Data_Preparation/raw/main/Data_Rumah_Wishnu_ed.xlsx"
dfExcel=pd.read_excel(urlExcel)
dfExcel

,No,Nama_Pemilik,Luas_Tanah(m2),Luas_Bangunan(m2),Jumlah_Kamar,Jumlah_Kamar_Mandi,Tahun_Bangun,Lokasi,Kondisi,Harga(USD),Alamat_Email,Username
0,1,Budi,100,80,3,2,2010,A,Baik,200000,budi@mail.com,budiman
1,2,Eko,-,90,3,1,2012,B,,210000,eko2023@mail.com,ekonomi
2,3,Ana,115,95,4,2,2014,C,Baik,230k,ana.master@example.com,ana_star
3,4,Lisa,105,90,3,2,2016,B,Baik,215k,lisa.secondmail@example.com,lisaaaaa
4,5,Budi,100,80,3,2,2010,A,Baik,200k,budi.fourthmail@example.com,budiF
5,6,Ida,120,110,4,2,2015,A,Baik,250000,ida_r@mail.com,ida_rose
6,7,Ana,110,NaN,3,2,2005,C,Baik,,ana_2005@mail.com,anaconda
7,8,Lia,90,85,2,1,2018,B,Rusak,180000,lia@mail.com,lia_star
8,9,Wati,???,95,3,1,2011,A,,220000,wati_w@mail.com,watidarma
9,10,Hasan,105,100,3,2,2010,B,Baik,230000,hasan_b@mail.com,has_bro
10,11,Budi,100,80,3,2,2010,A,Baik,200000,budiman2023@mail.com,budi_zone
11,12,Nita,110,100,4,3,2020,A,Baik,250000,nita_sweet@mail.com,nita_sw
12,13,Ana,110,NaN,3,2,2005,C,Baik,,anaconda2023@mail.com,ana_new
13,14,Mawar,115,100,3,2,2010,C,Rusak,235000,mawar_red@mail.com,maw_ros
14,15,Rudi,95,85,3,1,2012,A,Baik,210000,rudi_fast@mail.com,rudi_run
15,16,Siti,120,105,4,2,2014,B,Rusak,245000,siti_p@mail.com,siti_pear
16,17,Rani,110,NaN,3,2,2008,A,Baik,230000,rani_queen@mail.com,rani_q
17,18,Tono,100,85,2,1,2017,C,,210000,tono_17@mail.com,tono_king
18,19,Lisa,105,90,3,2,2016,B,Baik,215000,lisa_angel@mail.com,lisa_ang
19,20,Ida,120,110,4,2,2015,A,Baik,250k,ida.anothermail@example.com,ida_ida
20,21,Budi,100,80,3,2,2010,A,Baik,200k,budi.thirdmail@example.com,budi_xyz
21,22,Joni,115,105,4,3,2015,A,Rusak,240000,joni@mymail.com,joniboy
22,23,Bambang,,110,4,2,2014,C,Baik,260000,bambang_14@mail.com,b_bang
23,24,Iman,95,85,3,2,2018,A,Nann,200000,iman_f@mail.com,imanfish
24,25,Eko,110,85,3,1,2011,B,Rusak,180k,eko.third@example.com,ekoMaster
25,26,Rani,130,115,4,3,2013,D,Baik,260k,rani.second@example.com,rani2
26,27,Eko,110,85,3,1,2011,B,Broken,180k,eko.fourth@example.com,ekoRealm
27,28,Tari,135,110,4,2,2014,E,Good]=,270k,tari.primary@example.com,tariTari
28,29,Eko,-,90,3,1,2012,B,,210000,ekosecond@mail.com,eko2nd
29,30,Eko,110,85,3,1,2011,B,Rusak,180k,eko.fifth@example.com,ekoUniverse
30,31,Lisa,105,90,3,2,2016,B,Baik,215k,lisa.thirdmail@example.com,lisa_cube

In [60]:
url="https://raw.githubusercontent.com/kelvingrovebrothers/Data_Preparation/main/Data_Sales_Latihan.csv"
dfCsv=pd.read_csv(url)
dfCsv["Customer Number,Customer Name,Address,Type,Sales,Percent Growth"]

0    100025,Quest Industry,"Kebayoran Lama, Jakarta...
1    552278,Smith Plumbing,"Pasteur, Bandung",Compa...
2    234775,ACME Industrial,"Kebayoran Lama, Jakart...
3    249000,Brekke LTD,"Pasteur, Bandung",Company,4...
4    651029,Harbor Co,"Cilincing, Jakarta",Company,...
5    565600,Berkah Jaya,"Antapani, Bandung",Perusah...
6    897440,Rafee Ahmad,"Sawangan, Depok",Personal,...
7    123156,Reza Pratama,"Kebayoran Baru, Jakarta",...
8    138135,PT Berdikari,"Kebayoran Lama, Jakarta",...
9    748952,Alexander Samiun,"Sleman, Jogjakarta",I...
Name: Customer Number,Customer Name,Address,Type,Sales,Percent Growth, dtype: object

In [66]:
filepathCsv="C:\\Users\\vox_e.AMD-DESKTOP\\Documents\\Diklat\\Data Preparation with Python\\labs\\dataset\\day02\\clean_sales.csv"

# tab => \t => sep="\t"
# newline => \n
# pipe => sep="|"

dfFileSalesCleanCsv=pd.read_csv(filepathCsv,index_col=0)
dfFileSalesCleanCsv

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth,Status LN/DN
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,LN
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,LN
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,DN
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,LN
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,LN
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,DN
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,DN
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,DN
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,DN
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,DN

In [83]:
filepathTsv="C:\\Users\\vox_e.AMD-DESKTOP\\Documents\\Diklat\\Data Preparation with Python\\labs\\dataset\\day02\\clean_sales.tsv"

dfFileSalesCleanTsv=pd.read_csv(filepathTsv,sep="\t",index_col=0)
dfFileSalesCleanTsv

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth,Status LN/DN
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,LN
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,LN
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,DN
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,LN
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,LN
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,DN
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,DN
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,DN
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,DN
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,DN

* Deep Copy

In [84]:
dfFileSalesCleanTsvNEW=dfFileSalesCleanTsv.copy(deep=True)
dfFileSalesCleanTsvNEW

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth,Status LN/DN
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,LN
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,LN
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,DN
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,LN
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,LN
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,DN
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,DN
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,DN
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,DN
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,DN

In [85]:
del dfFileSalesCleanTsv["Address"]
dfFileSalesCleanTsv

,Customer Number,Customer Name,Type,Sales,Percent Growth,Status LN/DN
0,100025,quest industry,perusahaan,"162,500,000.00",0.30,LN
1,552278,smith plumbing,perusahaan,"101,200,000.00",0.10,LN
2,234775,acme industrial,perusahaan,"62,500,000.00",0.00,DN
3,249000,brekke ltd,perusahaan,"4,900,000.00",0.04,LN
4,651029,harbor co,perusahaan,"12,750,000.00",-0.15,LN
5,565600,berkah jaya,perusahaan,"762,500,000.00",0.30,DN
6,897440,rafee ahmad,individu,"12,200,000.00",0.10,DN
7,123156,reza pratama,individu,"50,000,000.00",0.25,DN
8,138135,pt berdikari,perusahaan,"9,000,000.00",0.04,DN
9,748952,alexander samiun,individu,"127,450,000.00",-0.15,DN

In [86]:
dfFileSalesCleanTsvNEW

,Customer Number,Customer Name,Address,Type,Sales,Percent Growth,Status LN/DN
0,100025,quest industry,"kebayoran lama, jakarta",perusahaan,"162,500,000.00",0.30,LN
1,552278,smith plumbing,"pasteur, bandung",perusahaan,"101,200,000.00",0.10,LN
2,234775,acme industrial,"kebayoran lama, jakarta",perusahaan,"62,500,000.00",0.00,DN
3,249000,brekke ltd,"pasteur, bandung",perusahaan,"4,900,000.00",0.04,LN
4,651029,harbor co,"cilincing, jakarta",perusahaan,"12,750,000.00",-0.15,LN
5,565600,berkah jaya,"antapani, bandung",perusahaan,"762,500,000.00",0.30,DN
6,897440,rafee ahmad,"sawangan, depok",individu,"12,200,000.00",0.10,DN
7,123156,reza pratama,"kebayoran baru, jakarta",individu,"50,000,000.00",0.25,DN
8,138135,pt berdikari,"kebayoran lama, jakarta",perusahaan,"9,000,000.00",0.04,DN
9,748952,alexander samiun,"sleman, jogjakarta",individu,"127,450,000.00",-0.15,DN

* Shallow Copy