# KEGUNAAN REGEX

# Mencari Semua Pola Tertentu dalam String

In [ ]:
import re

text = "apple, banana, orange, abalone"
result = re.findall(r'\ba[a-z]*e\b', text)
print(result)

# Mengganti Teks dengan Pola Tertentu:

In [ ]:
text = "There are 123 apples and 10 oranges"
modified_text = re.sub(r'\d+', 'NUM', text)
print(modified_text)

# Membagi String Berdasarkan Pola Tertentu:

In [ ]:
text = "apple, banana orange"
result = re.split(r'[,\s]+', text)
print(result)

# Mencari Pola dengan Kelompok:

In [ ]:
text = "My numbers are 123-4567 and 987-6543"
result = re.findall(r'(\d+)-(\d+)', text)
print(result)  # [('123', '4567'), ('987', '6543')]

# Mengecek Apakah String Sesuai dengan Pola:

In [ ]:
email = "example@email.com"
if re.match(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', email):
    print("Valid email")
else:
    print("Invalid email")

# Menggunakan Flag:

In [ ]:
text = "Apple, Banana, orange"
result = re.findall(r'\b[a]\w+\b', text, re.IGNORECASE)
print(result)  # ['Apple', 'Banana', 'orange']

In [ ]:
import pandas as pd

# Contoh data
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
})

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
})

# Menggabungkan dataset secara vertikal
result = pd.concat([df1, df2], ignore_index=True)
print(result)

In [ ]:
import pandas as pd

# Contoh data dengan indeks berulang
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
}, index=[2, 3, 4, 5])

# Menggabungkan tanpa menggunakan ignore_index
result_with_index = pd.concat([df1, df2])
print("With Original Index:\n", result_with_index)

# Menggabungkan dengan menggunakan ignore_index
result_with_reset_index = pd.concat([df1, df2], ignore_index=True)
print("\nWith Reset Index:\n", result_with_reset_index)

In [ ]:
# Contoh data
df = pd.DataFrame({
    'id': [1, 2, 3],
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

# Menggunakan melt
melted = pd.melt(df, id_vars=['id'], value_vars=['A', 'B'])
print(melted)

In [ ]:
# Menggunakan pivot pada data yang telah di-melt
pivoted = melted.pivot(index='id', columns='variable', values='value').reset_index()
print(pivoted)

In [ ]:
import pandas as pd
import numpy as np

# Membuat DataFrame contoh
df = pd.DataFrame({
    'A': [1, 2, None, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 3, 4, np.NaN]
})

print(df)
print(df.isna())
Print(df.isnull())

In [ ]:
import pandas as pd

# Membuat DataFrame dengan data yang hilang
df = pd.DataFrame({
    'A': [1, 2, None, 4, 5],
    'B': [None, 2, 3, 4, 5],
    'C': [1, 2, 3, 4, None]
})

print(df.isna())

In [28]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Contoh data
df = pd.DataFrame({
    'Warna': ['Merah', 'Hijau', 'Biru', 'Merah']
})

# Menerapkan OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)
encoded_features = encoder.fit_transform(df[['Warna']])
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out(['Warna']))


print(encoded_df)

   Warna_Biru  Warna_Hijau  Warna_Merah
0         0.0          0.0          1.0
1         0.0          1.0          0.0
2         1.0          0.0          0.0
3         0.0          0.0          1.0

In [33]:
from sklearn.preprocessing import LabelEncoder

# Contoh data
df = pd.DataFrame({
    'Warna': ['Merah', 'Hijau', 'Biru', 'Merah'] #, 'Jingga'
})

# Menerapkan LabelEncoder
encoder = LabelEncoder()
df['Warna_encoded'] = encoder.fit_transform(df['Warna'])

print(df)
print(df.drop_duplicates())

   Warna  Warna_encoded
0  Merah              2
1  Hijau              1
2   Biru              0
3  Merah              2
   Warna  Warna_encoded
0  Merah              2
1  Hijau              1
2   Biru              0